@media screen and (max-width: 480px) {
    .fred {
        overflow: hidden;
    }
    .dropdown {
        overflow: hidden;
        margin-right: -100px;
      }
      
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: #2B3A67;
        background-color: inherit;
        font-family: inherit;
      }
      
      .fred a:hover, .dropdown:hover .dropbtn {
        background-color: #FCAB10;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2B3A67;
        margin-left: -60px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: #FCAB10;
        text-decoration: none;
        display: block;

      }
      
      .dropdown-content a:hover {
        background-color: #FCAB10;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
}