html{
    display: grid;
    
    max-width: 175em;
    max-height: 200em;
    text-align:center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
}
header{
background-color: #5FC4C0;
text-shadow: 2px 2px 4px #000000;
box-shadow:2px 2px 4px #000000;

}
.fred{
    justify-items: center;
    grid-row: 0/1;

}
.frog{
    text-align:center;
    grid-row: 2/3;
}
body{

}
footer{
background-color: #5FC4C0;
text-shadow: 2px 2px 2px #000000;
box-shadow:2px 2px 4px #000000;
}
h1, h2, h3 {
    font-family: 'Comme', sans-serif;
 }