section{
    background-color: #2B3A67;
    text-align: center;
    padding: 25px;
    margin: 25px;
}
h2{
    color: #FCAB10;
    font-family: 'Instrument Serif', serif;
}
p{
    color: white;
}
div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
