html{
  background-color: #F6DFDF;
}

header{
  background-color: #2B3A67;
  color: #FCAB10;
}
.logo{
  width: 24em;
  height: 20em;

}
.fred{
  color:  #FCAB10;
  font-size: 20px;
  margin-top: 150px;
}

h2, h3{
  color: #FCAB10;
  font-family: 'Instrument Serif', serif;
}


.dropdown:hover .red {
  display: block;
}

.fred, a {
  color: #FCAB10;
  text-decoration: none;
}
.fred, a:hover {
  color:  white;
  background-color: #2B3A67;
}

p{
  color: #FCAB10;
}

footer{
    background-color:#2B3A67;
    color: #FCAB10;
}

.raven{
  display: inline;
} 
h1{
  color:#FCAB10;

}
#hero{
  width: 1550px; 
  height: 500px;
}
div{
  align-items: center;
  text-align: center;
  background-color: #2B3A67;
  margin: 5px;
}
