li {
    margin-bottom: 10px;
  }

  li button {
    font-size: 8px;
    margin-left: 20px;
    color: #666;
  }
  body{
    background-color: aquamarine;
  }
  div{
    border-color: gray;
    border-width: 2em;
  }